<div class="container">
    <mat-card>
        <mat-card-header>       
            <button mat-raised-button (click)="addEmployee()">+ Add</button>
        </mat-card-header>
       <mat-card-content>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>
            
        </table>
        
       </mat-card-content>
    </mat-card>
</div>
